<script setup lang="ts">
import { ref } from 'vue';
import { Bar } from 'vue-chartjs';
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'

interface IChartProps {
  chartData: any
  chartOptions: any
}

const { chartData, chartOptions } = defineProps<IChartProps>()

const chartId = ref('bar-chart')

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)
</script>

<template>
  <Bar :chart-data="chartData" :chart-options="chartOptions" :chart-id="chartId" :width="400" :height="400" />
</template>
