<script setup>
import { DownOutlined } from "@ant-design/icons-vue"
import { RouterLink, RouterView } from "vue-router"
</script>

<template>
  <header class="w-full flex items-center bg-white" :style="{ boxShadow: '0px 2px 4px rgba(0, 0, 0, 0.1)' }">
    <router-link class="mr-40 pl-8 hover:bg-white" to="/about"><img src="../../assets/logo.png" alt="Logo" />
    </router-link>
    <div class="flex flex-1 justify-between">
      <div class="flex">
        <router-link class="w-40 leading-[60px] text-[#1B242C] hover:text-[#1B242C] text-center " to="/dashboard"
          :style="{}">Dashboard</router-link>
        <router-link class="w-40 leading-[60px] text-[#1B242C] hover:text-[#1B242C] text-center border-r-[1px]"
          to="/room">Room</router-link>
        <router-link class="w-40 leading-[60px] text-[#1B242C] hover:text-[#1B242C] text-center border-r-[1px]"
          to="/report">Report</router-link>
        <router-link class="w-40 leading-[60px] text-[#1B242C] hover:text-[#1B242C] text-center border-r-[1px]"
          to="/about">User</router-link>
        <router-link class="w-40 leading-[60px] text-[#1B242C] hover:text-[#1B242C] text-center border-r-[1px]"
          to="/about">Du Management</router-link>
      </div>
      <div class="flex items-center">
        <router-link class="leading-[60px] text-[#1B242C] hover:text-[#1B242C] text-center mr-6" to="/about"><img
            src="../../assets/noti-icon.png" alt="Logo" /></router-link>
        <span class="leading-[60px] text-[#1B242C] hover:text-[#1B242C] text-center mr-3" to="/about"><img
            src="../../assets/avatar.png" alt="Logo" width="32" height="32" /></span>
        <a-dropdown :trigger="['click']">
          <a class="ant-dropdown-link leading-[32px]" @click.prevent>
            Đạt Tiến
            <DownOutlined />
          </a>
          <template #overlay>
            <a-menu>
              <a-menu-item key="0">
                <a href="http://www.alipay.com/">1st menu item</a>
              </a-menu-item>
              <a-menu-item key="1">
                <a href="http://www.taobao.com/">2nd menu item</a>
              </a-menu-item>
              <a-menu-divider />
              <a-menu-item key="3">3rd menu item</a-menu-item>
            </a-menu>
          </template>
        </a-dropdown>
      </div>
    </div>
  </header>

  <RouterView />
</template>
<style scoped>
.demo-page-header :deep(tr:last-child td) {
  padding-bottom: 0;
}

.router-link-active {
  background: linear-gradient(96.34deg,
      #ff9c23 -5.73%,
      #fd53cf 155.34%) !important;
  color: #ffffff !important;
}
</style>
