<script setup>
import PageHeader from "../components/Layout/PageHeader.vue"
</script>
<template>
  <PageHeader />

  <div class="h-full bg-[#E5E5E5] px-[30px] pt-[28px]">
    <h1>About Page</h1>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
