<script setup>
import { onMounted, ref } from "vue";
import { PlusOutlined } from "@ant-design/icons-vue";
import PageHeader from "../components/Layout/PageHeader.vue";
import RefreshIcon from "../components/icons/RefreshIcon.vue";
import Datepicker from "vue3-datepicker";
import { useApi } from "../composables/useApi";

const activeKey = ref("1");
const inputRef = ref(null);
const picked = ref(new Date());
const openPicker = () => {};
onMounted(async () => {
  const { data, error } = await useApi({
    url: "/api/v1/mrbs/deviceType?page=1&size=10",
    method: "GET",
  });
  console.log("data", data.value);
});
</script>

<template>
  <PageHeader />
  <div class="h-full bg-[#E5E5E5] px-[30px] pt-[28px]">
    <h1>Dashboard</h1>
    <h1>{{ $t("message.hello", { msg: "hello" }) }}</h1>
    <div class="bg-white px-[22px] pb-[63px] card-container h-full">
      <a-tabs
        v-model:activeKey="activeKey"
        centered
        type="card"
        class="h-full pt-7"
      >
        <a-tab-pane key="1" tab="Date">
          <div>
            <Datepicker
              v-model="picked"
              :ref="
                (el) => {
                  inputRef = el;
                }
              "
            ></Datepicker>
          </div>
          <table class="dashboard-table">
            <tr>
              <th>&nbsp;</th>
              <th class="text-left">
                <div>Mon</div>
                <div>1</div>
              </th>
              <th class="text-left">
                <div>Tue</div>
                <div>2</div>
              </th>
              <th class="text-left">
                <div>Wed</div>
                <div>3</div>
              </th>
              <th class="text-left">
                <div>Thu</div>
                <div>4</div>
              </th>
              <th class="text-left">
                <div>Fri</div>
                <div>5</div>
              </th>
              <th class="text-left">
                <div>Sat</div>
                <div>6</div>
              </th>
              <th class="text-left">
                <div>Sun</div>
                <div>7</div>
              </th>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">9:00 AM</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">10:00 AM</td>
              <td>
                <div class="mr-[18px] h-8">
                  <div class="h-[45px] bg-[#F1EDED]">
                    <div class="h-[18px]">Tùng nè</div>
                    <div class="h-[18px]">10:AM - 10:45AM</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="mr-[18px] h-8">
                  <div class="h-[45px] bg-[#F1EDED]">
                    <div class="h-[18px]">Tùng nè</div>
                    <div class="h-[18px]">10:AM - 10:45AM</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="mr-[18px] h-8">
                  <div class="h-[45px] bg-[#F1EDED]">
                    <div class="h-[18px]">Tùng nè</div>
                    <div class="h-[18px]">10:AM - 10:45AM</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="mr-[18px] h-8">
                  <div
                    class="h-[360px]"
                    :style="{
                      background:
                        'linear-gradient(97.56deg, #669EE9 3.96%, #37CDE6 56.42%, #32DBDF 128.77%, #5CDACB 165.87%)',
                      color: '#FFFFFF',
                    }"
                  >
                    <div class="h-[18px]">Tùng nè</div>
                    <div class="h-[18px]">10:AM - 10:45AM</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="mr-[18px] h-8">
                  <div class="h-[45px] bg-[#F1EDED]">
                    <div class="h-[18px]">Tùng nè</div>
                    <div class="h-[18px]">10:AM - 10:45AM</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="mr-[18px] h-8">
                  <div class="h-[45px] bg-[#F1EDED]">
                    <div class="h-[18px]">Tùng nè</div>
                    <div class="h-[18px]">10:AM - 10:45AM</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="mr-[18px] h-8">
                  <div class="h-[45px] bg-[#F1EDED]">
                    <div class="h-[18px]">Tùng nè</div>
                    <div class="h-[18px]">10:AM - 10:45AM</div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">11:00 AM</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">12:00 PM</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">1:00 PM</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">2:00 PM</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">3:00 PM</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">4:00 PM</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td rowspan="2" class="text-center">5:00 PM</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table></a-tab-pane
        >
        <a-tab-pane key="2" tab="Month" force-render
          >Content of Tab Pane 2</a-tab-pane
        >
        <a-tab-pane key="3" tab="Year">Content of Tab Pane 3</a-tab-pane>
        <template #rightExtra>
          <div class="flex items-center">
            <a-button size="large" class="text-[#669EE9] flex items-center">
              <template #icon><PlusOutlined /></template>
              Create</a-button
            >
            <a-button
              size="large"
              class="text-[#669EE9] flex items-center justify-center ml-4"
            >
              <template #icon><RefreshIcon /></template>
            </a-button>
          </div>
        </template>
      </a-tabs>
    </div>
  </div>
</template>
<style lang="scss">
.demo-page-header :deep(tr:last-child td) {
  padding-bottom: 0;
}
.dashboard-table {
  width: 100%;
  td,
  th {
    border: 1px solid;
  }
  th {
    td {
    }
  }
  td {
  }

  tr {
    height: 36px;
  }
}
.card-container p {
  margin: 0;
}
.card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.card-container > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  background: #fff;
}
.card-container > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.card-container > .ant-tabs-card .ant-tabs-tab,
[data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: white !important;
  border-color: transparent;
}
.card-container > .ant-tabs-card .ant-tabs-tab-active,
[data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: linear-gradient(
    96.34deg,
    #ff9c23 -5.73%,
    #fd53cf 155.34%
  ) !important;
  border-bottom-color: #f0f0f0 !important;
}
#components-tabs-demo-card-top .code-box-demo {
  padding: 24px;
  overflow: hidden;
  background: #f5f5f5;
}
[data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -8px;
}
[data-theme="dark"] .card-container > .ant-tabs-card .ant-tabs-tab {
  background: white !important;
  border-color: transparent;
}
[data-theme="dark"] #components-tabs-demo-card-top .code-box-demo {
  background: #000;
}
[data-theme="dark"]
  .card-container
  > .ant-tabs-card
  .ant-tabs-content
  > .ant-tabs-tabpane {
  background: #141414;
}
[data-theme="dark"] .card-container > .ant-tabs-card .ant-tabs-tab-active {
  background: linear-gradient(
    96.34deg,
    #ff9c23 -5.73%,
    #fd53cf 155.34%
  ) !important;
  border-color: white;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom
  > div
  > .ant-tabs-nav
  .ant-tabs-tab
  + .ant-tabs-tab {
  margin-left: 0px !important;
  display: flex;
  justify-content: center;
}
.ant-tabs-tab {
  width: 132px !important;
}
.ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 32px !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ffffff !important;
}
</style>
