<script setup lang="ts">
import { useApi } from "../composables/useApi";
import { reactive, computed } from "vue";
import router, { routes } from '../router';




interface FormState {
    layout: 'horizontal' | 'vertical' | 'inline';

    account: string;
    password: string;
}

const formState = reactive<FormState>({
    account: '',
    password: '',
    layout: 'vertical',

});
const buttonItemLayout = computed(() => {
    const { layout } = formState;
    return layout === 'horizontal'
        ? {
            wrapperCol: { span: 14, offset: 4 },
        }
        : {};
});
const formItemLayout = computed(() => {
    const { layout } = formState;
    return layout === 'horizontal'
        ? {
            labelCol: { span: 4 },
            wrapperCol: { span: 14 },
        }
        : {};
});
const onFinish = (values: any) => {
    console.log('Success:', values);
    useApi({
        url: "api/v1/mrbs/global/sign-in",
        method: "POST",
        body: { username: formState.account, password: formState.password }
    }).then((response) => {
        localStorage.setItem("access-token", response.data.value.data.accessToken)
        localStorage.setItem("refresh-token", response.data.value.data.refreshToken)
        router.push({ name: routes.dashboard.name })
    })

};
</script>
<template>
    <div class="h-full bg-[url('src/assets/login-bg.png')] bg-no-repeat bg-cover flex items-center">
        <!-- <div class="h-full bg-[url('src/assets/login-bg.png')] flex"> -->
        <div class="grid grid-cols-2 w-full">
            <div class="col-span-1">
                <img src="src/assets/login-sub-bg.png" alt="login-sub-bg" />
            </div>
            <div class="col-span-1 pl-48">
                <div class="max-w-[528px] bg-[#FFFFFF] px-[30px] pt-[54px] h-full rounded-[8px]">
                    <h1 class="font-[700] text-[24px] transparent-text">Login</h1>
                    <div>
                        <a-form :layout="formState.layout" :model="formState" v-bind="formItemLayout"
                            autocomplete=" off" @finish="onFinish" name="basic">
                            <a-form-item label="Email / User login" name="username">
                                <a-input placeholder="Your email / user" v-model:value="formState.account" />
                            </a-form-item>
                            <a-form-item label="Password" name="password">
                                <a-input-password placeholder="Enter your password" v-model:value="formState.password">
                                </a-input-password>
                                <a class="absolute top-[-28px] right-0" href="">Forgot password</a>
                            </a-form-item>
                            <a-form-item :wrapper-col="buttonItemLayout.wrapperCol" class="text-center">
                                <a-button class="w-[251px] rounded-[8px] h-10" :style="{
                                  background:
                                    'linear-gradient(96.34deg, #FF9C23 -5.73%, #FD53CF 155.34%)',
                                  color: '#FFFFFF',
                                }" html-type="submit">Login</a-button>
                            </a-form-item>
                            <a-form-item :wrapper-col="buttonItemLayout.wrapperCol" class="text-center">
                                <a class="underline">Creat acount</a>
                            </a-form-item>
                        </a-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
@media (min-width: 1024px) {
    .about {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    .transparent-text {
        background: -webkit-linear-gradient(#669ee9, #37cde6, #32dbdf, #5cdacb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
</style>
