<script setup lang="ts">
import { onMounted } from "vue";
import PageHeader from "../components/Layout/PageHeader.vue";
import { TeamOutlined } from "@ant-design/icons-vue";
import BarChart from '../components/Charts/BarChart.vue';
import { MONTHS_IN_YEAR, HOURS_IN_DAY } from '../utils/constant';

const monthChartData = {
    labels: MONTHS_IN_YEAR,
    datasets: [
        {
            label: 'Total Booing',
            backgroundColor: '#61A3E9',
            data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
        }
    ]
}

const monthChartOptions = {
    responsive: true,
    maintainAspectRatio: false
}

const hourChartData = {
    labels: HOURS_IN_DAY,
    datasets: [
        {
            label: 'Total Booing',
            backgroundColor: '#61A3E9',
            data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11]
        }
    ]
}

const hourChartOptions = {
    responsive: true,
    maintainAspectRatio: false
}
onMounted(() => {

});
</script>

<template>
    <PageHeader />
    <div class="h-full m-8">
        <h2>Report</h2>
        <a-row :gutter="[16, 16]">
            <a-col :flex="1">
                <team-outlined />
                <a-statistic title="Total user" :value="1300" class="flex flex-col-reverse" />
            </a-col>
            <a-col :flex="1">
                <team-outlined />
                <a-statistic title="Total room meeting" :value="5" class="flex flex-col-reverse" />
            </a-col>
            <a-col :flex="1">
                <team-outlined />
                <a-statistic title="Total booking" :value="1300" class="flex flex-col-reverse" />
            </a-col>
            <a-col :flex="1">
                <team-outlined />
                <a-statistic title="Room empty" :value="2" class="flex flex-col-reverse" />
            </a-col>
            <a-col :flex="1">
                <team-outlined />
                <a-statistic title="Room meeting" :value="1300" class="flex flex-col-reverse" />
            </a-col>
        </a-row>
        <a-row :gutter="[32, 32]">
            <a-col :span="12">
                <BarChart :chartData="monthChartData" :chartOptions="monthChartOptions" />
            </a-col>
            <a-col :span="12">
                <BarChart :chartData="hourChartData" :chartOptions="hourChartOptions" />
            </a-col>
        </a-row>

    </div>
</template>
