@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"),
   url(./fonts/Helvetica.ttf) format("truetype");
}

#app {
  height: 100%;
  font-weight: normal;
  overflow: auto;
  font-family: "Helvetica";
}

@media (hover: hover) {}

@media (min-width: 1024px) {
  #app {
    padding: 0;
  }
}