<!-- This icon is from <https://github.com/Templarian/MaterialDesign>, distributed under Apache 2.0 (https://www.apache.org/licenses/LICENSE-2.0) license-->
<template>
  <svg
    width="20"
    height="16"
    viewBox="0 0 20 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17.8569 7.8572C17.8569 3.5181 14.3393 0 9.99975 0C7.25023 0 4.83448 1.4148 3.43018 3.55337L4.48258 4.60578C5.60117 2.71241 7.64114 1.42858 9.99975 1.42858C13.5503 1.42858 16.4284 4.30622 16.4284 7.8572H15.4926C15.0471 7.8572 14.8241 8.39577 15.139 8.71075L16.4355 10.0073C16.8261 10.3978 17.4592 10.3978 17.8498 10.0073L19.1463 8.71075C19.4612 8.39577 19.2382 7.8572 18.7927 7.8572H17.8569Z"
      fill="#669EE9"
    />
    <path
      d="M15.5172 11.1086C14.3986 13.002 12.3587 14.2858 10.0001 14.2858C6.44954 14.2858 3.57145 11.4081 3.57145 7.85716H4.50722C4.95267 7.85716 5.17575 7.31859 4.86077 7.00361L3.56427 5.70711C3.17374 5.31658 2.54058 5.31658 2.15005 5.70711L0.853554 7.00361C0.538571 7.31859 0.761654 7.85716 1.20711 7.85716H2.14287C2.14287 12.1963 5.66053 15.7144 10.0001 15.7144C12.7496 15.7144 15.1653 14.2996 16.5696 12.161L15.5172 11.1086Z"
      fill="#669EE9"
    />
  </svg>
</template>
